<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_reporter_dashboards', plugin: 'redmine_reporter_dashboards' %>
  <%= javascript_include_tag 'redmine_reporter_dashboards', plugin: 'redmine_reporter_dashboards' %>
<% end %>

<% show_new_tab = params[:new_tab].present? %>

<div class="contextual">
  <% if manage_reporter_project_page?(@project) && !show_new_tab %>
    <%= form_tag(add_reporter_project_block_path(@project, tab: @tab.id), id: 'reporter-block-form', authenticity_token: true) do %>
      <%= label_tag('reporter-block-select', l(:button_add)) %>:
      <%= reporter_project_block_select_tag(@tab, @project) %>
    <% end %>
  <% end %>
  <% if User.current.allowed_to?(:manage_reporter_project_tabs, @project) %>
    <%= link_to sprite_icon('settings', l(:label_settings)),
                '#reporter-dashboard-settings',
                id: 'reporter-dashboard-settings-toggle',
                class: 'icon-only icon-settings' %>
  <% end %>
  <%= call_hook(:view_reporter_project_page_contextual, project: @project, tab: @tab) %>
</div>

<%= render partial: 'reporter_project_pages/tabs',
           locals: { project: @project, tabs: @tabs, selected_tab: @tab, show_new_tab: show_new_tab } %>

<% if User.current.allowed_to?(:manage_reporter_project_tabs, @project) %>
  <%= render partial: 'reporter_project_pages/settings',
             locals: { project: @project, tab: @tab, show_new_tab: show_new_tab } %>
<% end %>

<% if !show_new_tab && @tab.description.present? %>
  <div class="wiki">
    <%= textilizable(@tab, :description, project: @project) %>
  </div>
<% end %>

<% unless show_new_tab %>
  <div id="reporter-project-page">
    <% if @rows.blank? %>
      <p class="nodata"><%= l(:label_no_data) %></p>
    <% else %>
      <% @rows.each do |row| %>
        <% row_content = render_reporter_project_blocks(row, @tab, @project) %>
        <% next if row_content.blank? %>
        <div class="reporter-row">
          <%= row_content %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= context_menu %>
<% end %>

<% html_title(l(:label_reporter_project_page)) -%>
